.body{
    display: block;
    align-items: center;
    justify-content: center;
    place-items: center;
    text-align: center;
    background:#4da4e5;
    background-image: url('../imeges/Blue-abstract-background-curve_1920x1080.jpg') ;
    position: relative;
    
    background-position: center;
    color: white;
    min-height: 100vh; 
    
}

